.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 150px;
  margin-bottom: 256px;
}
.about__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  text-align: center;
  max-width: 895px;
}
.about__info-title {
  font-family: "Circular-Std";
  font-weight: 700;
  font-size: 42px;
  line-height: 53px;
  margin: 0;
  padding: 0;
}
.about__info-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #5b5e6d;
  margin: 30px auto 50px;
  padding: 0;
}
.about__info-btn {
  display: flex;
  margin: 0;
  padding: 0;
  background: rgba(5, 85, 255, 0.1);
  border-radius: 30px;
  min-width: 245px;
  min-height: 50px;
  border: none;
  font-weight: 400;
  font-size: 15px;
  line-height: 32px;
  color: #0555ff;
  justify-content: center;
  align-items: center;
  gap: 13px;
  cursor: pointer;
}
.about__info-btn_exclamation {
  display: block;
  height: 25px;
  width: 25px;
  background-image: url("../images/exclamation.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.about__card {
  display: flex;
  gap: 172px;
}
.about__card:nth-of-type(2) {
  flex-direction: row-reverse;
}
.about__card-info {
  max-width: 513px;
}
.about__card-title {
  font-family: "Circular-Std";
  font-weight: 900;
  font-size: 72px;
  line-height: 91px;
  margin: 0;
  padding: 0;
}
.about__card-text {
  margin-bottom: 40px;
}
.about__card-link {
  margin: 0;
  padding: 0 0 3px 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;
  border-bottom: 2px solid #0555ff;
}
.about__card-img {
  position: relative;
  min-height: 460px;
  min-width: 460px;
  background-image: url("../images/develop.svg");
  background-size: cover;
  background-repeat: no-repeat;
  filter: drop-shadow(-20px 20px 60px rgba(121, 164, 255, 0.3));
  border-radius: 10px;
  z-index: 4;
}
.about__card-img-container {
  position: relative;
}
.about__card-img_build {
  background-image: url("../images/build.svg");
}
.about__card-img_update {
  background-image: url("../images/update.svg");
}
.about__card-img-dots {
  background-image: url("../images/Dot.svg");
  height: 158px;
  width: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -60px;
  left: -53px;
  z-index: 2;
}
.about__card-img-dots_reverse {
  transform: scale(-1, 1);
  right: -53px;
  left: unset;
}
.about__card-img-circle {
  height: 134px;
  width: 134px;
  border-radius: 50%;
  background-color: #6fdac0;
  position: absolute;
  top: 32px;
  right: -55px;
}
.about__card-img-circle_reverse {
  left: -55px;
}
.about__card-img-blur {
  height: 480px;
  width: 235px;
  background: rgba(255, 255, 255, 0.65);
  border-radius: 10px;
  position: absolute;
  top: 0;
  right: -20px;
  z-index: 3;
}
.about__card-img-blur_reverse {
  left: -20px;
}
.about__card-img-orange {
  height: 188px;
  width: 188px;
  border-radius: 50%;
  background-color: #ff9d0a;
  position: absolute;
  transform: rotate(-142deg);
  bottom: -70px;
  right: -110px;
}
.about__card-img-orange::after {
  content: "";
  display: block;
  position: absolute;
  width: 101%;
  height: 50%;
  background-color: white;
  bottom: 0;
  right: -1px;
}
.about__card-img-orange_reverse {
  transform: rotate(142deg);
  left: -110px;
}

@media screen and (max-width: 1340px) {
  .about {
    gap: 120px;
    margin-bottom: 200px;
  }
  .about__info {
    margin-top: 80px;
    max-width: 725px;
  }
  .about__info-title {
    font-size: 36px;
    line-height: 43px;
  }
  .about__info-text {
    font-size: 18px;
    line-height: 28px;
    margin: 25px auto 40px;
  }
  .about__info-btn {
    min-width: 210px;
    min-height: 40px;
    font-size: 14px;
    line-height: 24px;
    gap: 5px;
  }
  .about__info-btn_exclamation {
    height: 20px;
    width: 20px;
  }
  .about__card {
    gap: 10%;
  }
  .about__card-info {
    max-width: 400px;
  }
  .about__card-title {
    font-size: 58px;
    line-height: 73px;
  }
  .about__card-text {
    margin-bottom: 30px;
  }
  .about__card-link {
    font-size: 16px;
    line-height: 20px;
  }
  .about__card-img {
    min-height: 350px;
    min-width: 350px;
  }
  .about__card-img-dots {
    height: 125px;
    width: 120px;
    bottom: -50px;
    left: -43px;
  }
  .about__card-img-dots_reverse {
    right: -43px;
  }
  .about__card-img-circle {
    top: 28px;
    right: -45px;
  }
  .about__card-img-circle_reverse {
    left: -45px;
  }
  .about__card-img-blur {
    height: 370px;
    width: 190px;
  }
  .about__card-img-orange {
    height: 150px;
    width: 150px;
    bottom: -55px;
    right: -90px;
  }
  .about__card-img-orange_reverse {
    left: -90px;
  }
}
@media screen and (max-width: 1024px) {
  .about {
    gap: 90px;
    margin-bottom: 160px;
  }
  .about__info {
    margin-top: 60px;
    max-width: 580px;
  }
  .about__info-title {
    font-size: 30px;
    line-height: 35px;
  }
  .about__info-text {
    font-size: 15px;
    line-height: 23px;
    margin: 20px auto 30px;
  }
  .about__card-info {
    max-width: 320px;
  }
  .about__card-title {
    font-size: 46px;
    line-height: 60px;
  }
  .about__card-text {
    margin-bottom: 25px;
  }
  .about__card-link {
    font-size: 14px;
    line-height: 16px;
  }
  .about__card-img {
    min-height: 280px;
    min-width: 280px;
  }
  .about__card-img-dots {
    height: 100px;
    width: 105px;
    bottom: -40px;
    left: -35px;
  }
  .about__card-img-dots_reverse {
    right: -35px;
  }
  .about__card-img-circle {
    top: 23px;
    right: -38px;
  }
  .about__card-img-circle_reverse {
    left: -38px;
  }
  .about__card-img-blur {
    height: 300px;
    width: 150px;
  }
  .about__card-img-orange {
    height: 120px;
    width: 120px;
    bottom: -44px;
    right: -70px;
  }
  .about__card-img-orange_reverse {
    left: -70px;
  }
}
@media screen and (max-width: 780px) {
  .about {
    gap: 20px;
    margin-bottom: 30px;
  }
  .about__info {
    margin: 25px 20px 0;
  }
  .about__info-title {
    font-size: 24px;
    line-height: 28px;
  }
  .about__info-text {
    font-size: 12px;
    line-height: 19px;
    margin: 10px auto 20px;
  }
  .about__card {
    flex-direction: column-reverse;
    margin: 0 10px;
  }
  .about__card:nth-of-type(2) {
    flex-direction: column-reverse;
  }
  .about__card-info {
    margin-top: 15px;
    text-align: center;
  }
  .about__card-title {
    font-size: 38px;
    line-height: 48px;
  }
  .about__card-img-dots {
    display: none;
  }
  .about__card-img-circle {
    display: none;
  }
  .about__card-img-blur {
    display: none;
  }
  .about__card-img-orange {
    display: none;
  }
}/*# sourceMappingURL=about.css.map */