.footer {
  background-color: #130c3a;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  &__title {
    font-family: 'Circular-Std';
    font-weight: 900;
    font-size: 72px;
    line-height: 85px;
    max-width: 639px;
    text-align: center;
    margin: 150px auto 40px;
    padding: 0;
    z-index: 3;
  }
  &__copirigh {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin: 70px auto 25px;
    padding: 0;
  }
  &__form {
    margin: 0 0 150px 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    &-btn {
      font-family: Inter;
      font-weight: 400;
      font-size: 22px;
      line-height: 32px;
      margin: 0;
      padding: 24px 50px;
      background: #0555ff;
      border-radius: 0px 10px 10px 0px;
      color: #ffffff;
      border: none;
      cursor: pointer;
    }
  }
  &__input {
    font-family: Inter;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    min-width: 528px;
    color: #c1c1c1;
    margin: 0;
    padding: 23px 0 23px 30px;
    background-color: #130c3a;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px 0px 0px 10px;
    box-sizing: border-box;
    border-right: none;
  }
  &__nav {
    display: flex;
    justify-content: space-around;
  }
  &__contact-list {
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    list-style: none;
    margin: 0 260px 0 0;
    padding: 0;
    &-item {
      font-family: 'Inter';
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      color: #7884a6;
      text-decoration: none;
    }
  }
  &__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 94px;
    margin-top: 27px;
    padding: 0;
  }
  &__icon {
    height: 16px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    &:first-of-type {
      width: 9px;
      background-image: url('../images/faceboock.svg');
    }
    &:nth-of-type(2) {
      width: 14px;
      background-image: url('../images/world.svg');
    }
    &:last-of-type {
      width: 16px;
      background-image: url('../images/Be.svg');
    }
  }
  &__list {
    font-family: 'Circular-Std';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 7px 0 0 0;
    margin: 15px 0 0 0;
    &:nth-of-type(2) {
      margin-right: 111px;
    }
    &:last-of-type {
      margin-left: 104px;
    }
    &-item {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 42px;
      color: #7884a6;
      text-decoration: none;
      padding: 0;
      cursor: pointer;
    }
  }
  &__orange {
    height: 188px;
    width: 188px;
    border-radius: 50%;
    background-color: #ff9d0a;
    position: absolute;
    transform: rotate(-36deg);
    top: 15px;
    left: 291px;
    z-index: 2;
    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 101%;
      height: 50%;
      background-color: #130c3a;
      bottom: 0;
      right: -1px;
    }
  }
  &__blue {
    transform: rotate(180deg);
    background-color: #0555ff;
    right: 308px;
    top: -95px;
    left: unset;
  }
  &__circle {
    display: block;
    width: 350px;
    height: 350px;
    background: rgba(255, 255, 255, 0.03);
    position: absolute;
    border-radius: 50%;
    bottom: -2px;
    left: -160px;
    &_light {
      width: 289px;
      height: 289px;
      border: 40px solid rgba(255, 255, 255, 0.05);
      position: absolute;
      border-radius: 50%;
      bottom: 322px;
      right: -129px;
      box-sizing: border-box;
    }
  }
  &__dots {
    display: block;
    width: 317px;
    height: 333px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    background-image: url('../images/Dot_footer.svg');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 30px;
    left: -136px;
  }
}
@media screen and (max-width: 1340px) {
  .footer {
    &__title {
      font-size: 58px;
      line-height: 68px;
      margin: 130px auto 30px;
    }
    &__copirigh {
      font-size: 14px;
      line-height: 17px;
      margin: 55px auto 20px;
    }
    &__form {
      margin: 0 0 120px 0;
      &-btn {
        font-size: 18px;
        line-height: 23px;
        padding: 16px 40px;
      }
    }
    &__input {
      font-size: 18px;
      line-height: 23px;
      min-width: 420px;
      padding: 16px 0 16px 24px;
    }
    &__contact-list {
      font-size: 23px;
      line-height: 28px;
      margin: 0 150px 0 0;
      &-item {
        font-size: 14px;
        line-height: 23px;
      }
    }
    &__icons {
      max-width: 75px;
      margin-top: 25px;
    }
    &__list {
      font-size: 18px;
      line-height: 20px;
      &:nth-of-type(2) {
        margin-right: 90px;
      }
      &:last-of-type {
        margin-left: 90px;
      }
      &-item {
        font-size: 14px;
        line-height: 35px;
      }
    }
    &__orange {
      height: 150px;
      width: 150px;
      top: 12px;
      left: 230px;
    }
    &__blue {
      right: 245px;
      left: unset;
      top: -76px;
    }
    &__circle {
      width: 280px;
      height: 280px;
      bottom: -2px;
      left: -130px;
      &_light {
        width: 260px;
        height: 260px;
        border: 30px solid rgba(255, 255, 255, 0.05);
        bottom: 260px;
        right: -100px;
      }
    }
    &__dots {
      width: 260px;
      height: 265px;
      top: 25px;
      left: -110px;
    }
  }
}
@media screen and (max-width: 1100px) {
  .footer {
    &__title {
      font-size: 47px;
      line-height: 55px;
      margin: 100px auto 20px;
    }
    &__copirigh {
      font-size: 12px;
      line-height: 15px;
      margin: 45px auto 20px;
    }
    &__form {
      margin: 0 0 100px 0;
      &-btn {
        font-size: 15px;
        line-height: 19px;
        padding: 13px 30px;
      }
    }
    &__input {
      font-size: 15px;
      line-height: 19px;
      min-width: 340px;
      padding: 13px 0 13px 20px;
    }
    &__contact-list {
      font-size: 19px;
      line-height: 22px;
      margin: 0 100px 0 0;
      &-item {
        font-size: 12px;
        line-height: 19px;
      }
    }
    &__icons {
      margin-top: 20px;
    }
    &__list {
      font-size: 15px;
      line-height: 17px;
      &:nth-of-type(2) {
        margin-right: 70px;
      }
      &:last-of-type {
        margin-left: 70px;
      }
      &-item {
        font-size: 12px;
        line-height: 28px;
      }
    }
    &__orange {
      height: 120px;
      width: 120px;
      top: 10px;
      left: 185px;
    }
    &__blue {
      right: 200px;
      left: unset;
      top: -60px;
    }
    &__circle {
      width: 220px;
      height: 220px;
      bottom: -2px;
      left: -105px;
      &_light {
        width: 215px;
        height: 215px;
        border: 25px solid rgba(255, 255, 255, 0.05);
        bottom: 215px;
        right: -80px;
      }
    }
    &__dots {
      width: 210px;
      height: 215px;
      top: 20px;
      left: -90px;
    }
  }
}
@media screen and (max-width: 890px) {
  .footer {
    &__title {
      font-size: 38px;
      line-height: 45px;
      margin: 20px 10px 20px;
    }
    &__copirigh {
      margin: 20px auto 20px;
    }
    &__form {
      margin: 0 10px 20px;
      &-btn {
        font-size: 12px;
        line-height: 15px;
        padding: 10px 25px;
      }
    }
    &__input {
      font-size: 12px;
      line-height: 15px;
      min-width: 280px;
      padding: 10px 0 10px 15px;
    }
    &__contact-list {
      font-size: 15px;
      line-height: 18px;
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &-item {
        font-size: 12px;
        line-height: 15px;
      }
    }
    &__icons {
      margin-top: 10px;
      display: flex;
      gap: 10px;
      justify-content: center;
    }
    &__list {
      display: none;
    }
    &__orange {
      display: none;
    }
    &__blue {
      display: none;
    }
    &__circle {
      display: none;

      &_light {
        display: none;
      }
    }
    &__dots {
      display: none;
    }
  }
}
@media screen and (max-width: 630px) {
  .footer {
    &__input {
      min-width: unset;
    }
  }
}
