.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: content-box;
  max-height: 100px;
  margin: 0 300px;
}
.header__title {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  color: black;
}
.header__nav {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 68px;
  color: #050038;
}
.header__nav-item {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
}
.header__nav_open {
  right: 0;
}
.header__auth {
  display: flex;
  gap: 35px;
}
.header__auth-btn {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #050038;
  margin: 0;
  padding: 0;
  background-color: inherit;
  border: none;
  cursor: pointer;
}
.header__auth-btn_try {
  padding: 0;
  background-color: #0555ff;
  border-radius: 30px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  min-height: 50px;
  min-width: 180px;
  border: none;
  cursor: pointer;
}
.header__burger {
  display: none;
  opacity: 0;
  background: inherit;
  border: none;
  width: 25px;
  height: 25px;
  cursor: pointer;
  position: relative;
}
.header__burger_open {
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 3;
}
.header__burger-line {
  height: 2px;
  width: 25px;
  background-color: #050038;
  position: absolute;
  left: 0;
  transition: all 0.3s ease-out;
}
.header__burger-line:first-of-type {
  top: 0;
}
.header__burger-line:nth-of-type(2) {
  top: 12.5px;
}
.header__burger-line:last-of-type {
  bottom: 0;
}
.header__burger-line_open:first-of-type {
  transform: rotate(45deg);
  top: 11px;
}
.header__burger-line_open:nth-of-type(2) {
  opacity: 0;
  display: none;
}
.header__burger-line_open:last-of-type {
  transform: rotate(-45deg);
  bottom: 12px;
}

@media screen and (max-width: 1540px) {
  .header {
    margin: 0 200px;
  }
}
@media screen and (max-width: 1340px) {
  .header__title {
    font-size: 29px;
    line-height: 36px;
  }
  .header__nav {
    gap: 56px;
  }
  .header__auth {
    gap: 30px;
  }
  .header__auth-btn {
    font-size: 16px;
    line-height: 18px;
  }
  .header__auth-btn_try {
    font-size: 16px;
    line-height: 19px;
    min-height: 45px;
    min-width: 150px;
  }
}
@media screen and (max-width: 1240px) {
  .header {
    margin: 0 100px;
  }
  .header__nav {
    gap: 44px;
  }
  .header__auth {
    gap: 20px;
  }
  .header__auth-btn_try {
    min-height: 40px;
    min-width: 140px;
  }
}
@media screen and (max-width: 1024px) {
  .header {
    margin: 0 50px;
  }
  .header__title {
    font-size: 22px;
    line-height: 26px;
  }
  .header__nav {
    gap: 30px;
  }
  .header__auth {
    gap: 10px;
  }
  .header__auth-btn__title {
    font-size: 14px;
    line-height: 16px;
  }
  .header__auth-btn__title_try {
    font-size: 14px;
    line-height: 16px;
    min-height: 30px;
    min-width: 100px;
  }
}
@media screen and (max-width: 780px) {
  .header {
    margin: 0 20px;
  }
  .header__burger {
    display: block;
    opacity: 1;
    z-index: 2;
  }
  .header__nav {
    gap: 10px;
    padding: 0 0 20px 20px;
    border-radius: 10px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    position: absolute;
    background: #ffffff;
    margin-top: 107px;
    margin-right: 50px;
    min-width: 100px;
    min-height: 282px;
    right: -100%;
    transition: all 0.3s ease-out;
    display: none;
    opacity: 0;
    z-index: 2;
  }
  .header__nav_open {
    right: -50px;
    display: flex;
    opacity: 1;
  }
  .header__nav-item {
    font-size: 12px;
    line-height: 15px;
  }
  .header__auth {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    position: absolute;
    right: -100%;
    top: 55px;
    transition: all 0.3s ease-out;
    z-index: 2;
    display: none;
    opacity: 0;
  }
  .header__auth_open {
    right: 37px;
    display: flex;
    opacity: 1;
  }
  .header__auth-btn {
    font-size: 12px;
    line-height: 15px;
  }
  .header__auth-btn_try {
    background-color: inherit;
    font-size: 12px;
    line-height: 15px;
    color: #050038;
    min-height: unset;
    min-width: unset;
  }
}/*# sourceMappingURL=header.css.map */