.testimonials {
  background: #f8f8fa;
  padding: 150px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  &__text {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 32px;
    color: #5b5e6d;
    text-align: center;
  }
  &__title {
    margin: 40px auto 70px;
    padding: 0;
    font-family: 'Circular Std';
    font-weight: 900;
    font-size: 72px;
    line-height: 32px;
  }
  &__twits {
    display: grid;
    grid-template-columns: repeat(3, 420px);
    grid-template-rows: repeat(2, 370px);
    gap: 30px;
  }
  &__twit {
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px 0 20px 20px;
    box-sizing: border-box;
    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-bird {
      display: block;
      width: 25px;
      height: 21px;
      background-image: url('../images/bird.svg');
      background-size: cover;
      margin-right: 20px;
    }
    &-author {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-template-rows: auto 1fr;
      column-gap: 10px;
      &_photo {
        grid-row-start: 1;
        grid-row-end: 3;
        height: 45px;
        width: 45px;
        border-radius: 50%;
      }
      &_name {
        margin: 0;
        padding: 0;
        font-family: 'Circular-Std';
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
      }
      &_nick {
        margin: 0;
        padding: 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #596068;
      }
      &_check {
        display: block;
        width: 15px;
        height: 16px;
        background-image: url('../images/check.svg');
        margin-left: 7px;
      }
    }
    &-text {
      margin: 15px 40px 0 0;
      padding: 0;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      &:last-of-type {
        margin-top: 30px;
      }
    }
  }
}
#first {
  background-image: url('../images/avatars/Lisa.svg');
}
#second {
  background-image: url('../images/avatars/Bri.svg');
}
#third {
  background-image: url('../images/avatars/Carol.svg');
}
#fourth {
  background-image: url('../images/avatars/Wes.svg');
}
#fifth {
  background-image: url('../images/avatars/Lisa_miler.svg');
}
#sixth {
  background-image: url('../images/avatars/Traver.svg');
}
@media screen and (max-width: 1540px) {
  .testimonials {
    &__twits {
      grid-template-columns: repeat(2, 420px);
      grid-template-rows: repeat(3, 370px);
    }
  }
}
@media screen and (max-width: 1024px) {
  .testimonials {
    &__twits {
      margin: 0 20px;
      gap: 20px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }
  }
}

@media screen and (max-width: 780px) {
  .testimonials {
    &__twits {
      margin: 0 10px;
      gap: 10px;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(6, 1fr);
    }
  }
}
